<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>mvc_programming</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>

	<!-- 여기가 웹서버 설정파일이라서 여기다 가상경로를 등록한다. -->
	<servlet>
		<servlet-name>controller</servlet-name>
		<servlet-class>mvc.controller.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>controller</servlet-name>
		<url-pattern>*.aws</url-pattern> <!-- aws로 들어오는 모든 값을 mvc.controller.MemberController 여기로 보내줘 
		라고 매핑 -->
	</servlet-mapping>
	<!-- controller라는 이름으로 묶고 확장자 aws로 넘어오는 모든 주소는 MemberContorller로 넘긴다 -->

</web-app>